@media only screen and (max-width: 670px) {
  .add-task-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-task-form-label {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .add-task-form-input {
    width: 100%;
    margin-left: 0;
  }
}